<app-header-without-categories></app-header-without-categories>
<!-- Breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="bread-inner">
						<ul class="bread-list">
							<li><a routerLink="">Home<i class="ti-arrow-right"></i></a></li>
							<li class="active"><a>Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- End Breadcrumbs -->
<!---------------------------------------------------------------------------------------------------------------> 
<!--------------------------------------------------------------------------------------------------------------->
<!-- Start Contact -->
	<section id="contact-us" class="contact-us section">
		<div class="container">
				<div class="contact-head">
					<div class="row">
						<div class="col-lg-8 col-12">
							<div class="form-main">
								<div class="title">
									<h4>Get in touch</h4>
									<h3>Write us a message</h3>
								</div>
								<form class="form" method="post" action="mail/mail.php" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
									<div class="row">
										<div class="col-lg-6 col-12">
											<div class="form-group">
												<label>Your Name<span>*</span></label>
												<input formControlName="name" placeholder="" class="form-control">
												<div *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.invalid" class="alert alert-danger">
													Name is required.
												</div>
												<div *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.errors?.['pattern']" class="alert alert-danger">
													Name must not contain numbers.
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-12">
											<div class="form-group">
												<label>Your Subjects<span>*</span></label>
												<input formControlName="subject" placeholder="" class="form-control">
												<div *ngIf="contactForm.get('subject')?.touched && contactForm.get('subject')?.invalid" class="alert alert-danger">
													Subject is required.
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-12">
											<div class="form-group">
												<label for="email">Your Email<span>*</span></label>
												<input type="email" id="email" formControlName="email" placeholder="" class="form-control">
												<div *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.invalid" class="alert alert-danger">
												  Please enter a valid email address.
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-12">
											<div class="form-group">
												<label for="phoneNumber">Your Phone<span>*</span></label>
												<input type="text" id="phoneNumber" formControlName="phoneNumber" placeholder="" class="form-control">
												<div *ngIf="contactForm.get('phoneNumber')?.touched && contactForm.get('phoneNumber')?.invalid" class="alert alert-danger">
			                                        Please enter a valid phone number (10 digits).
												</div>
												<div *ngIf="contactForm.get('phoneNumber')?.touched && contactForm.get('phoneNumber')?.errors?.['pattern']" class="alert alert-danger">
													Phone Number must not contain charcterss.
												</div>
											</div>
										</div>
										<div class="col-12">
											<div class="form-group" message>
												<label>Your Message<span>*</span></label>
												<input formControlName="message" placeholder="" class="form-control">
												<div *ngIf="contactForm.get('message')?.touched && contactForm.get('message')?.invalid" class="alert alert-danger">
													Message is required.
												</div>
											</div>
										</div>
										<div class="col-12">
											<div class="form-group button">
												<button type="submit" [disabled]="!contactForm.valid" class="btn btn-primary">Send Message</button>
												<!-- Message Sent Confirmation -->
												<div *ngIf="messageSent" class="alert alert-success mt-2">
												  Message is sent!
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="col-lg-4 col-12">
							<div class="single-head">
								<div class="single-info">
									<i class="fa fa-phone"></i>
									<h4 class="title">Call us Now:</h4>
									<ul>
										<li>+123 456-789-1120</li>
										<li>+522 672-452-1120</li>
									</ul>
								</div>
								<div class="single-info">
									<i class="fa fa-envelope-open"></i>
									<h4 class="title">Email:</h4>
									<ul>
										<li><a href="mailto:info@yourwebsite.com">info&#64;yourwebsite.com</a></li>
										<li><a href="mailto:info@yourwebsite.com">support&#64;yourwebsite.com</a></li>
									</ul>
								</div>
								<div class="single-info">
									<i class="fa fa-location-arrow"></i>
									<h4 class="title">Our Address:</h4>
									<ul>
										<li>KA-62/1, Travel Agency, 45 Grand Central Terminal, New York.</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>
	<!--/ End Contact -->
	
	<!-- Map Section -->
	<div class="map-section">
		<div id="myMap"></div>
	</div>
	<!--/ End Map Section -->
<!---------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------->
<app-newsletter></app-newsletter>
<app-footer></app-footer>