<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Ecommerce</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/product-list">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
      </ul>

      <div class="navbar-form my-2 my-lg-0">
        <!-- Filter Dropdown -->
        <div class="dropdown ml-2">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="filterDropdown" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Filter by Category
          </button>
          <div class="dropdown-menu" aria-labelledby="filterDropdown">
            <a class="dropdown-item" (click)="filterProductsByCategory(null)">All Categories</a>
            <div *ngFor="let category of categories">
              <a class="dropdown-item" (click)="filterProductsByCategory(category)">{{ category }}</a>
            </div>
          </div>
        </div>

        <!-- Sort Dropdown -->
        <div class="dropdown ml-2">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="sortDropdown" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Sort
          </button>
          <div class="dropdown-menu" aria-labelledby="sortDropdown">
            <a class="dropdown-item" (click)="sortProducts('price')">Sort by Price</a>
            <a class="dropdown-item" (click)="sortProducts('title')">Sort Alphabetically</a>
          </div>
        </div>

        <!-- Search Form -->
        <form class="form-inline ml-2">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>

      <a class="nav-link ml-auto" routerLink="/cart">
        <img src=".\assets\images\shcartwhite.png" alt="Cat Image" height="55" width="55">
        <span class="badge badge-pill badge-danger">{{ itemcount }}</span>
      </a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
