<!-- Start Product Area -->
    <div class="product-area section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>Trending Item</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="product-info">
                        <div class="nav-main">
                            <!-- Tab Nav -->
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#man" role="tab">Man</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#women" role="tab">Woman</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#kids" role="tab">Kids</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#accessories" role="tab">Accessories</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#essential" role="tab">Essential</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#prices" role="tab">Prices</a></li>
                            </ul>
                            <!--/ End Tab Nav -->
                        </div>
<!---------------------------------------------------------------------------------------------------------->                  
<div class="tab-content" id="myTabContent">
<!------------------------------------------- Start Single Men Tab ----------------------------------------->
  <div class="tab-pane fade show active" id="man" role="tabpanel">
    <div class="tab-single">
      <div class="row">
        <div *ngFor="let product of products | filterByCategory:'men\'s clothing'" class="col-xl-3 col-lg-4 col-md-4 col-12">
          <div class="single-product">
            <div class="product-img">
              <a [routerLink]="['/product-details', product.id]">
                <img class="default-img" [src]="product.image" alt="#">
                <img class="hover-img" [src]="product.image" alt="#">
              </a>
              <span *ngIf="product.isNew" class="label new">New</span>
              <span *ngIf="product.isHot" class="label hot">Hot</span>
              <span *ngIf="product.hasDiscount" class="label discount">30% Off</span>
              <div class="button-head">
                <div class="product-action">
                  <a data-toggle="modal" data-target="#exampleModal" title="Quick View" routerLink=""><i class=" ti-eye"></i><span>Quick Shop</span></a>
                  <a title="Wishlist" routerLink=""><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                  <a title="Compare" routerLink=""><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                </div>
                <div class="product-action-2">
                  <a title="Addtocart" (click)="addToCart(product)">Add to cart</a>
                </div>
              </div>
            </div>
            <div class="product-content">
              <h3><a [routerLink]="['/product-details', product.id]">{{ product.title }}</a></h3>
              
              <div class="product-price">
                <span *ngIf="product.hasDiscount" class="discounted-price-section">
                  <s class="original-price">{{ product.price | currency }}</s>
                  <span class="discounted-price">{{ calculateDiscountedPrice(product) | currency }}</span>
                </span>
                <span *ngIf="!product.hasDiscount">
                  {{ product.price | currency }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Single Tab -->
<!---------------------------------------------------------------------------------------------------------->
<!------------------------------------------- Start Single Tab - Woman ------------------------------------->
<div class="tab-pane fade" id="women" role="tabpanel">
    <div class="tab-single">
      <div class="row">
        <div *ngFor="let product of products | filterByCategory:'women\'s clothing'"  class="col-xl-3 col-lg-4 col-md-4 col-12">
          <div class="single-product">
            <div class="product-img">
              <a [routerLink]="['/product-details', product.id]">
                <img class="default-img" [src]="product.image" alt="#">
                <img class="hover-img" [src]="product.image" alt="#">
              </a>
              <span *ngIf="product.isNew" class="label new">New</span>
              <span *ngIf="product.isHot" class="label hot">Hot</span>
              <span *ngIf="product.hasDiscount" class="label discount">30% Off</span>
              <div class="button-head">
                <div class="product-action">
                  <a data-toggle="modal" data-target="#exampleModal" title="Quick View" routerLink=""><i class=" ti-eye"></i><span>Quick Shop</span></a>
                  <a title="Wishlist" routerLink=""><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                  <a title="Compare" routerLink=""><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                </div>
                <div class="product-action-2">
                  <a title="Addtocart" (click)="addToCart(product)">Add to cart</a>
                </div>
              </div>
            </div>
            <div class="product-content">
              <h3><a [routerLink]="['/product-details', product.id]">{{ product.title }}</a></h3>
              <div class="product-price">
                <span *ngIf="product.hasDiscount" class="discounted-price-section">
                  <s class="original-price">{{ product.price | currency }}</s>
                  <span class="discounted-price">{{ calculateDiscountedPrice(product) | currency }}</span>
                </span>
                <span *ngIf="!product.hasDiscount">
                  {{ product.price | currency }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Single Tab - Woman -->
<!------------------------------------------------------------------------------------------------------------>
<!------------------------------------------- Start Single Essentials Tab ------------------------------------>
<div class="tab-pane fade" id="essential" role="tabpanel">
  <div class="tab-single">
    <div class="row">
      <div *ngFor="let product of products | filterByCategory:'electronics'" class="col-xl-3 col-lg-4 col-md-4 col-12">
        <div class="single-product">
          <div class="product-img">
            <a [routerLink]="['/product-details', product.id]">
              <img class="default-img" [src]="product.image" alt="#">
              <img class="hover-img" [src]="product.image" alt="#">
            </a>
            <span *ngIf="product.isNew" class="label new">New</span>
            <span *ngIf="product.isHot" class="label hot">Hot</span>
            <span *ngIf="product.hasDiscount" class="label discount">30% Off</span>
            <div class="button-head">
              <div class="product-action">
                <a data-toggle="modal" data-target="#exampleModal" title="Quick View" routerLink=""><i class=" ti-eye"></i><span>Quick Shop</span></a>
                <a title="Wishlist" routerLink=""><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                <a title="Compare" routerLink=""><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
              </div>
              <div class="product-action-2">
                <a title="Addtocart" (click)="addToCart(product)">Add to cart</a>
              </div>
            </div>
          </div>
          <div class="product-content">
            <h3><a [routerLink]="['/product-details', product.id]">{{ product.title }}</a></h3>
            <div class="product-price">
              <span *ngIf="product.hasDiscount" class="discounted-price-section">
                <s class="original-price">{{ product.price | currency }}</s>
                <span class="discounted-price">{{ calculateDiscountedPrice(product) | currency }}</span>
              </span>
              <span *ngIf="!product.hasDiscount">
                {{ product.price | currency }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ End Single Tab -Essentials-->
<!----------------------------------------------------------------------------------------------------------->

<!------------------------------------------- Start Single Accessories Tab ----------------------------------->
<div class="tab-pane fade" id="accessories" role="tabpanel">
  <div class="tab-single">
    <div class="row">
      <div *ngFor="let product of products | filterByCategory:'jewelery'" class="col-xl-3 col-lg-4 col-md-4 col-12">
        <div class="single-product">
          <div class="product-img">
            <a [routerLink]="['/product-details', product.id]">
              <img class="default-img" [src]="product.image" alt="#">
              <img class="hover-img" [src]="product.image" alt="#">
            </a>
            <span *ngIf="product.isNew" class="label new">New</span>
            <span *ngIf="product.isHot" class="label hot">Hot</span>
            <span *ngIf="product.hasDiscount" class="label discount">30% Off</span>
            <div class="button-head">
              <div class="product-action">
                <a data-toggle="modal" data-target="#exampleModal" title="Quick View" routerLink=""><i class=" ti-eye"></i><span>Quick Shop</span></a>
                <a title="Wishlist" routerLink=""><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                <a title="Compare" routerLink=""><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
              </div>
              <div class="product-action-2">
                <a title="Addtocart" (click)="addToCart(product)">Add to cart</a>
              </div>
            </div>
          </div>
          <div class="product-content">
            <h3><a [routerLink]="['/product-details', product.id]">{{ product.title }}</a></h3>
            <div class="product-price">
              <span *ngIf="product.hasDiscount" class="discounted-price-section">
                <s class="original-price">{{ product.price | currency }}</s>
                <span class="discounted-price">{{ calculateDiscountedPrice(product) | currency }}</span>
              </span>
              <span *ngIf="!product.hasDiscount">
                {{ product.price | currency }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ End Single Tab -Acessories-->
<!----------------------------------------------------------------------------------------------------------->
<!------------------------------------------- Start Single Tab - prices ------------------------------------->
<div class="tab-pane fade" id="prices" role="tabpanel">
  <div class="tab-single">
    <div class="row">
      <div *ngFor="let product of getCheapestProducts()"  class="col-xl-3 col-lg-4 col-md-4 col-12">
        <div class="single-product">
          <div class="product-img">
            <a [routerLink]="['/product-details', product.id]">
              <img class="default-img" [src]="product.image" alt="#">
              <img class="hover-img" [src]="product.image" alt="#">
            </a>
            <span *ngIf="product.isNew" class="label new">New</span>
            <span *ngIf="product.isHot" class="label hot">Hot</span>
            <span *ngIf="product.hasDiscount" class="label discount">30% Off</span>
            <div class="button-head">
              <div class="product-action">
                <a data-toggle="modal" data-target="#exampleModal" title="Quick View" routerLink=""><i class=" ti-eye"></i><span>Quick Shop</span></a>
                <a title="Wishlist" routerLink=""><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                <a title="Compare" routerLink=""><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
              </div>
              <div class="product-action-2">
                <a title="Addtocart" (click)="addToCart(product)">Add to cart</a>
              </div>
            </div>
          </div>
          <div class="product-content">
            <h3><a [routerLink]="['/product-details', product.id]">{{ product.title }}</a></h3>
            <div class="product-price">
              <span *ngIf="product.hasDiscount" class="discounted-price-section">
                <s class="original-price">{{ product.price | currency }}</s>
                <span class="discounted-price">{{ calculateDiscountedPrice(product) | currency }}</span>
              </span>
              <span *ngIf="!product.hasDiscount">
                {{ product.price | currency }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ End Single Tab - prices -->
<!------------------------------------------------------------------------------------------------------------>
<!------------------------------------------- Start Single Tab - kids ---------------------------------------->
<div class="tab-pane fade show fade" id="kids" role="tabpanel">
  <div class="tab-single">
    <div class="row">
      <div *ngFor="let product of products | filterByCategory:'kid\'s clothing'" class="col-xl-3 col-lg-4 col-md-4 col-12">
        <div class="single-product">
          <div class="product-img">
            <a [routerLink]="['/product-details', product.id]">
              <img class="default-img" [src]="product.image" alt="#">
              <img class="hover-img" [src]="product.image" alt="#">
            </a>
            <span *ngIf="product.isNew" class="label new">New</span>
            <span *ngIf="product.isHot" class="label hot">Hot</span>
            <span *ngIf="product.hasDiscount" class="label discount">30% Off</span>
            <div class="button-head">
               <div class="product-action">
                  <a data-toggle="modal" data-target="#exampleModal" title="Quick View" routerLink=""><i class=" ti-eye"></i><span>Quick Shop</span></a>
                  <a title="Wishlist" routerLink=""><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                  <a title="Compare" routerLink=""><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
               </div>
               <div class="product-action-2">
                <a title="Addtocart" (click)="addToCart(product)">Add to cart</a>
               </div>
            </div>
          </div>
          <div class="product-content">
            <h3><a [routerLink]="['/product-details', product.id]">{{ product.title }}</a></h3>
            <div class="product-price">
              <span *ngIf="product.hasDiscount" class="discounted-price-section">
                <s class="original-price">{{ product.price | currency }}</s>
                <span class="discounted-price">{{ calculateDiscountedPrice(product) | currency }}</span>
              </span>
              <span *ngIf="!product.hasDiscount">
                {{ product.price | currency }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-----------------------------------------------/ End Single Tab ------------------------------------------>