.single-product {
    width: 260px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
}
.single-product .product-img {
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width:100%;
    height:80%;
}
.single-product .product-img img {
    width: 220px; 
    height:238px;
}
.single-product .product-content{
    width:100%;
    height:20%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5px;   
    margin:3px;
}

.single-product .product-content h3{  
    height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.single-product .product-content .product-price{  
    height: 30px;
    margin:0px;
}
.label {
    position: absolute;
    top: 30px;
    right: 10px;
    color: white;
    padding: 5px;
    border-radius: 35px;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: bold;
    padding:3px 8px 3px 8px;
}

.new {
    background-color: red;
    
}

.hot {
    background-color: #a67ba6;
}

.discount {
    background-color: #dfa32b;
}
.discounted-price-section {
    display: inline-block; 
}

.original-price {
    margin-right: 5px; 
}


@media screen and (max-width: 600px) {
    .single-product {
        width: 100%; /* Full width on smaller screens */
        height: auto; /* Adjust height automatically */
    }
    .single-product .product-img img {
        width: 100%; /* Full width */
        height: auto; /* Adjust height automatically */
    }
}
